.home-comtainer {
    padding: 20px 18px;
    min-height: 100vh;
}

.header-home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-home-image-info-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-home-image-info-user img {
    width: 55px;
    margin-right: 6px;
}

.header-home-info-user p, span {
    color: #fff;
    font-family: Poppins;
}

.header-home-info-user p {
    font-size: 14px;
    font-weight: 500;
}

.header-home-info-user span {
    font-size: 10px;
    opacity: calc(80%);
    font-weight: normal;
}

.header-home-container button {
    background-color: transparent;
}

  .titulo-p{
    color: #f4f4f4;
    text-align: center;
    padding: 18px 0;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: bold;
  }

  .div-functions{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    justify-items: center;

  }

  @media (max-width: 1052px) {
    .div-functions{

        grid-template-columns: repeat(3, 1fr); 
        gap: 14px;
    
      }

  }

  @media (max-width: 864px) {
    .div-functions{

        grid-template-columns: repeat(2, 1fr); 
        gap: 14px;
    }

    
      
  }


  @media (max-width: 598px) {
    .div-functions{

        grid-template-columns: repeat(1, 1fr); 
        gap: 14px;
    
      }

  }
