.card-ifood-container{
    background-color: #29292E;
    border-radius: 6px;
    padding: 14px 12px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-ifood-container .container-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .card-ifood-container .card-ifood-days{
    color: #C4C4CC;
    font-size: 12px;
  }
  .card-ifood-container .card-ifood-title-product {
    color: #fff ;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: bold;
  }
  .card-ifood-status{
    display: flex;
    align-items: center;
  }

  .card-ifood-status p{
    color: #C4C4CC;
    font-size: 12px;
  }
 
  .ifood-status-prin{
    width: 8px;
    height: 8px;
    margin-left: 4px;
    border-radius: 100%;
  }
  .ifood-status1{
    background-color: #00875F;
  }
  .ifood-status2{
    background-color: #FD4755;
  }
  .card-ifood-container .icon{
    font-size: 100px;
    color: #d5d3d3 ;
  }
  .card-ifood-container .button-icon{
    background-color: #FD4755 ;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
  }
  .card-ifood-container .button-2{
    background-color: #0a7421;
  }

  .card-ifood-button-icon {
    background-color: #FD4755 ;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-whatsapp {
    background-color: #00875F;
  }