
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-container img {
    max-width: 187px;
}

.form-register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    margin-bottom: 20px;
}

.form-register-container span {
    color: #8D8D99;
    font-family: Roboto;
    font-size: 14px;
    margin: 8px 0 4px 2px; 
}

.form-register-container span.span-message {
    margin: 10px 0;
}

.form-register-container input {
    height: 40px;
    border-radius: 4px;
    background-color: #29292E;
    color: #f4f4f4;
    padding-left: 8px;
    font-family: Roboto;
}

.form-register-container input.input-error {
    border: 1px solid red;
}

.form-register-container .link-register {
    color: #8D8D99;
    text-decoration: none;
}

.form-register-container .input-select {
    background-color: #29292E;
    color: #fff;
    text-align: center;
    height: 40px;
}

.form-register-container .input-option {
    color: #fff;
}

@media (min-width: 768px) {
    .register-container {
        flex-direction: row;
    }

    .register-container img {
        margin-bottom: 0;
        margin-right: 50px;
        max-width: 250px;
    }

    .form-register-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 20px;
        width: 350px;
    }

    .form-register-container input {
        margin-right: 10px;
    }
}