.driver-container {
    display: flex;
    flex-direction: column;
    padding: 0 18px;
}

.driver-container .city-selected {
    background-color: #29292E;
    padding: 6px;
    border-radius: 6px;
    position: relative;
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.driver-container .city-selected span {
    top: 6px;
    left: 6px;
    position: absolute;

    font-size: 10px;
    color: #8D8D99;
}

.driver-container .city-selected h1 {
    color: #C4C4CC;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 600;
}

.driver-container .city-selected button {
    top: 6px;
    right: 6px;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
}

.form-register-driver-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.form-register-driver-container span {
    color: #8D8D99;
    font-family: Roboto;
    font-size: 14px;
    margin: 8px 0 4px 2px; 
}

.form-register-driver-container span.span-message {
    margin: 10px 0;
}

.form-register-driver-container input {
    height: 40px;
    border-radius: 4px;
    background-color: #29292E;
    color: #f4f4f4;
    padding-left: 8px;
    font-family: Roboto;
}

.form-register-driver-container input.input-error {
    border: 1px solid red;
}

.driver-select-days-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #29292E;
    border-radius: 6px;
}

.driver-select-days-container label {
    width: 100%;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.driver-select-days-container .driver-select-days-label {
    border-bottom: 2px solid #151515;
}

.driver-select-days-container div {
    width: 140px;
}

button.driver-button {
    height: 48px;
    border-radius: 4px;
    background-color: #00875F;
    margin-top: 8px;
}

button.driver-button:disabled {
    background-color: #0e5942;
}

button.driver-button span {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
}