button.button-component {
    height: 48px;
    border-radius: 6px;
    background-color: #565AA2;
}

button.button-component:disabled {
    height: 48px;
    border-radius: 6px;
    background-color: #484b87;
}

button.button-component p {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
}

button .button-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}