.buttons-select-city-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    margin: 6px 0;
}

.select-city-button {
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    cursor: pointer;
}

.select-city-button:hover {
    background-color: #1b1b1d;
}

.select-city-button span {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

.button-select-city {
    background-color: #00875F;
    padding: 6px 8px;
    border-radius: 6px;

    margin: auto;
    width: 160px;
}

.city-selected {
    background-color: #1b1b1d;
}

.button-select-city:hover {
    background-color: #086f50;
    cursor: pointer;
}